<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Editing comment</title>
    <link href="/icon-transparent.png" rel="icon" type="image/x-png">
    <link rel="stylesheet" href="https://a.trellocdn.com/css/63834d177435ef6ba76764be22c29ae4/core.css">
    <link rel="stylesheet" href="https://trello.com/power-ups/power-up.css">
    <link rel="stylesheet" href="/simplemde/dist/simplemde.min.css">
    <link rel="stylesheet" href="/css/comment-editor.css">
  </head>
  <body>
    <div class="window-overlay"></div>
    <div class="window">
      <div class="window-buttons">
        <a class="window-button icon-lg icon-external-link js-new-tab" href="#"></a>
        <a class="window-button icon-lg icon-close js-close-window" href="#"></a>
      </div>
      <div class="phenom mod-comment-type is-editing">

        <div class="window-module-title window-module-title-no-divider">
          <span class="window-module-title-icon icon-lg icon-comment"></span>
          <h3>Editing comment from card <a href="https://trello.com/c/{{comment.data.card.id}}" target="_blank">{{comment.data.card.name}}</a></h3>
          <span class="editing-members js-editing-members hide"></span>
        </div>

        <div class="comment-frame">
          <div class="comment-box">
            <textarea class="comment-box-input js-new-comment-input" placeholder="Write a comment…" tabindex="1" dir="auto">{{comment.data.text}}</textarea>
            <!--
            <div class="comment-box-options">
              <a class="comment-box-options-item js-comment-add-attachment" href="#" title="Add an attachment…"><span class="icon-sm icon-attachment"></span></a>
              <a class="comment-box-options-item js-comment-mention-member" href="#" title="Mention a member…"><span class="icon-sm icon-mention"></span></a>
              <a class="comment-box-options-item js-comment-add-emoji" href="#" title="Add emoji…"><span class="icon-sm icon-emoji"></span></a>
              <a class="comment-box-options-item js-comment-add-card" href="#" title="Add card…"><span class="icon-sm icon-card"></span></a>
            </div>
            -->
          </div>
        </div>

        <div class="edit-controls u-clearfix">
          <div class="js-too-long-warning hide">
            <p>Your comment is too long.</p>
          </div>
          <div class="js-is-empty-warning hide">
            <p>You haven't typed anything!</p>
          </div>
          <input class="primary confirm js-save-edit" type="submit" value="Save" tabindex="2" disabled>
        </div>

        <p class="phenom-meta quiet">
          <span class="save-failure">⚠️ Could not save! Please check your connectivity and try again.</span>
          <span class="date js-hide-on-sending">Last saved at <span></span></span>
          <span class="js-spinner hide">
            <span class="spinner spinner--inline mod-left small"></span>
            Sending…
          </span>
        </p>

      </div>
    </div>
    <script src="https://trello.com/power-ups/power-up.min.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/simplemde/dist/simplemde.min.js"></script>
    <script src="/js/comment-editor.js"></script>
    <script>
      var editor = initEditor('{{token}}', '{{comment.id}}', SimpleMDE);
      editor.refreshLastSavedTime('{{comment.date}}');
    </script>
  </body>
</html>
