#comments {
  list-style: none;
  padding: 0;
  margin: 0;
}

#comments li {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /**/
  cursor: pointer;
  display: block;
  font-weight: 700;
  padding: 6px 10px;
  position: relative;
  margin: 0 -10px;
  text-decoration: none;
}

#comments li:hover {
  background-color: #298FCA;
  color: #fff;
}
